name: Haskell CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash

    steps:
    - name: Copy repo into actions 
      uses: actions/checkout@v3
 
    - name: Installing ollama
      uses: pydantic/ollama-action@v3
      with:
        model: gemma3:latest

    - name: install dependancies, build and test stack project.
      uses: freckle/stack-action@v5
